<h1>Contact Us.</h1>
<%= form_for(@contact, url: contact_path) do |f| %>
<div class='control-group'>
  <%= f.text_field(:name, placeholder: 'Name') %><br />
</div>
<div class='control-group'>
  <%= f.email_field(:email, placeholder: 'Email') %><br />
</div>
<div class='control-group'>
  <%= f.text_area(:concern, placeholder: 'Concern') %><br />
</div>
<%= f.submit("Submit") %>
<% end %>